# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules

# Build outputs
dist
*.tsbuildinfo
ios

# Turbo
.turbo

# Claude local
.claude
CLAUDE.md

#DS_Store
.DS_Store